@font-face {
    font-family:'peppaFont';
    src:url('../fonts/Peppa Pig.ttf');
}
body {
    background-color:#8BBAF5;
    font-family:'peppaFont';
}
.backImg {
    width:100%;
    position: absolute;
    z-index: -2;
}
.wrapper {
    text-align: center;
    transition-delay:4s;
}

.pep {
    width:600px;
    text-align: center;
    position: relative;
    top:-60px;

  
}
.peppaFam {
    width:680px;
    
}


#questionForm {
    text-align: center;
    width:500px;
    margin:5% auto;
}
#questionForm img {
    width:500px;
    position: relative;
    top:30px;
}
.questionWrap {
    text-align: left;
    font-size:25px;
    background-color:#F3C1D8;
    display:block;
    line-height:2em;
    overflow:hidden;
    color:darkorange;
    margin:15px;
    border-radius:5px;
    box-shadow: 0 3px rgba(123, 195, 111, 0.6);

}
#title {
    font-size:50px;
    position: relative;
    top:-10px;
    left:50px;
}
.right {
    color:#27ae60;
}
.wrong {
    color:red;
}
input[type] {
    margin:10px;
}
.button{
    border-color:#292624;
    background-color:orange;
    font-weight:bold;
    font-size:30px;
    color:red;
    position: relative;
    top:10px;
    left:50px;
    width:300px;
}
.button:hover {
    cursor:pointer;
    background-color:darkorange;
    color:#F3C0D7;
    border:1px solid red;
}
/*img {
    max-width:100%;
    position: relative;
    top:-100px;
}
*/

#play, #pause {
    width:50px;
    position: absolute;
    left:200px;
    z-index: 2;
    
}

#play:hover,
#pause:hover {
    cursor:pointer;
}
#pause {
    display:none;
}
@media only screen and (max-width:700px) {
    #play, #pause {
        position: relative;
        left:-230px;
        top:70px;
    }
    #questionForm img {
        width:500px;
        position: relative;
        top:0px;
        margin-right:70px;
    }
    #title {
        margin-right:50px;
    }
}
@media only screen and (max-width:600px) {
      #play, #pause {
        position: relative;
        left:-230px;
        top:70px;
    }
    #questionForm img {
        width:450px;
        position: relative;
        top:0px;
        margin-right:70px;
    }
    #title {
        margin-right:70px;
    }
}
}
@media only screen and (max-width:500px) {
  #play, #pause {
        position: relative;
        top:60px;
        left:-150px;
    }
    #questionForm img  {
    width:300px;
    
    }
    #title {
        width:300px;
    }
}
/*
@media only screen and (max-width:400px) {
     #play, #pause {
        position: relative;
        top:60px;
        left:-150px;
    }
    #questionForm img  {
    width:300px;
    
    }
    #title {
        width:400px;
    }
}
}

