@font-face {
    font-family:'peppaFont';
    src:url('../fonts/Peppa Pig.ttf');
}
body {
    background-color:#8BBAF5;
    font-family:'peppaFont';
}

.pep {
    text-align: center;
  
}
.peppaFam {
    width:380px;
    position: relative;
    top:-150px;
}
.wrapper {
    text-align: center;
    margin-top:200px;
}

#questionForm {
    text-align: center;
    width:75%;
    margin:-15% auto;
}
.questionWrap {
    text-align: left;
    font-size:25px;
    background-color:#2E2C29;
    display:block;
    line-height:2em;
    overflow:hidden;
    color:#fff;
    margin:15px;
    border-radius:5px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.06);

}
.right {
    color:#27ae60;
}
.wrong {
    color:red;
}
input[type] {
    margin:10px;
}
.button{
    border-color:#292624;
    background-color:orange;
    font-weight:bold;
    color:red;
}
.button:hover {
    cursor:pointer;
    background-color:darkorange;
    color:#F3C0D7;
    border:1px solid red;
}
/*img {
    max-width:100%;
    position: relative;
    top:-100px;
}

